page-validate {
   .hmoe{
       margin: 0%
   }
   .item-inner{
    border: none !important;
    box-shadow: none !important;
  }
  .input-border-box {
    border: 1px solid #90CBE2 !important;
    padding-left: 3%;
    
  }
}
