page-home {
    .no-scroll .scroll-content{
        overflow: hidden;
      }
     .item-inner{
        border: none !important;
        box-shadow: none !important;
      }
    
}

/*.alert-title  div:first-child{
  font-size: 1em;
  color: red;
}
.alert-title  div:second-child{
  font-size: 1em;
  color: blue;
}

.alert-title:first-child{
  font-size: 1em;
  color: red;
}
.alert-title:second-child{
  font-size: 1em;
  color: black;
}*/
