page-home {
    .no-scroll .scroll-content{
        overflow: hidden;
      }
     .item-inner{
        border: none !important;
        box-shadow: none !important;
      }
      .input-border-box {
        border: 1px solid #90CBE2 !important;
        padding-left: 1%;
        
      }
    
}

/*.alert-title  div:first-child{
  font-size: 1em;
  color: red;
}
.alert-title  div:second-child{
  font-size: 1em;
  color: blue;
}

.alert-title:first-child{
  font-size: 1em;
  color: red;
}
.alert-title:second-child{
  font-size: 1em;
  color: black;
}*/
