// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.logo {
    margin: 20px auto 0;
    width: 4em;
    padding-top: 0.3em;
    padding-bottom: 0.1em;
    border-radius: 10%;
    font-size: 3.5em;
  }

  .smalllogo {
    width: 4em;
    border-radius: 10%;
    font-size: .5em;
    margin-top: 1em;
  }

  .fnt3 {
    font-size: 3em !important;
  }
  .fnt2 {
    font-size: 2em !important;
  }
  .fnt1 {
    font-size: 1em !important;
  }
  .no-padding {
    padding: 0px !important;
}

.no-margin {
    margin: 0px !important;
}
.no-btm-margin {
    margin-bottom: 0px !important;
}
.input-border-box{
    border: 1px solid #21909B !important;
     padding-right: 0px !important;

}
.no-border{
  
    border: 0px solid #fff !important;
}

.verify-bg{
    background-color: #21909B ;
}
.line{
    border: 1px solid #eaeaea;
    }
    .padding-left-right-30{
        padding-left: 8% !important;
        padding-right: 8% !important;
    }
    .padding-top30{
        padding-top: 20% !important;
    }
    .btnz>span{
        display:inline-block;
        width:10px;
        height:10px;
        background:#C0CCD7;
        border-radius:7px;
        border:1px solid #C0CCD7;
        border-top:1px solid #9DA7AF;
        margin:0 3px;
      }
      .btnz>span.active{
        background: #63C000;
        border: 1px solid #5FAF0E;
        border-bottom: 1px solid #39660F;
      }
      .circle {
        background-color:#21909B;
        border:2px solid white;    
        height:30px;
        border-radius:50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        width:30px;
    }
    .circle-light {
        background-color:#A9D0D7;
        border:2px solid white;    
        height:30px;
        border-radius:50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        width:30px;
    }
    .container {
        position: relative;
        text-align: center;
        color: white;
    }
    
    /* Bottom left text */
    .bottom-left {
        position: absolute;
        bottom: 8px;
        left: 16px;
    }
    
    /* Top left text */
    .top-left {
        position: absolute;
        top: 8px;
        left: 16px;
    }
    
    /* Top right text */
    .top-right {
        position: absolute;
        top: 8px;
        right: 16px;
    }
    
    /* Bottom right text */
    .bottom-right {
        position: absolute;
        bottom: 8px;
        right: 16px;
    }
    
    /* Centered text */
    .centered {
        position: absolute;
        top: 34%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #bottom{

        width: 100%;
        height: 50px;
        background-color: black;
    }
    
    #top{
            width:100%;
        height: 50px;
        background-color:red;
        z-index: 999;     
    }   

    .margin-left-right10{
        margin-right: 10% !important;
        margin-left: 10% !important;
    }