// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face{
    font-family: Work Sans Medium;
    src: url('../assets/fonts/QGYpz_wNahGAdqQ43Rh3j4P8mNhN.woff2')
}
@font-face{
    font-family: Work Sans Regular;
    src: url('../assets/fonts/QGYsz_wNahGAdqQ43Rh_fKDp.woff2')
}
@font-face{
    font-family: Work Sans SemiBold;
    src: url('../assets/fonts/QGYpz_wNahGAdqQ43Rh3o4T8mNhN.woff2')
}
@font-face{
    font-family: Work Sans Bold;
    src: url('../assets/fonts/QGYpz_wNahGAdqQ43Rh3x4X8mNhN.woff2')
}

*{
    font-family: Work Sans Regular;
    font-family: Work Sans Medium;
    font-family: Work Sans SemiBold;
    font-family: Work Sans Bold;
}
.logo {
    margin: 20px auto 0;
    width: 4em;
    padding-top: 0.3em;
    padding-bottom: 0.1em;
    border-radius: 10%;
    font-size: 2.5em;
  }

  .logo1 {
    margin: 20px auto 0;
    width: 4em;
    padding-top: 0.3em;
    padding-bottom: 0.1em;
    border-radius: 10%;
    font-size: 1.5em;
  }

  .smalllogo {
    width: 5.5em;
    border-radius: 10%;
    font-size: .5em;
    margin-top: 1em;
    padding-right: 1em;
    margin-left: 3.4em;
  }
  .fnt075 {
    font-size: 0.75em !important;
  }
  .fnt3 {
    font-size: 3em !important;
  }
  .fnt2 {
    font-size: 2em !important;
  }
  .fnt1 {
    font-size: 1em !important;
  }
  .fnt15 {
    font-size: 1.5em !important;
}
.fnt125 {
    font-size: 1.25em !important;
}
.fnt75 {
    font-size: 0.75em !important;
}
  .no-padding {
    padding: 0px !important;
}
.padding16  {
    padding-bottom: 1%;
}  
.no-margin {
    margin: 0px !important;
}
.no-btm-margin {
    margin-bottom: 0px !important;
}
.input-border-box{
    border: 1px solid #21909B !important;
     padding-right: 0px !important;

}
.no-border{
  
    border: 0px solid #fff !important;
}

.verify-bg{
    background-color: #ec8924;
}
.line{
    border: 1px solid #eaeaea;
    }
    .padding-left-right-30{
        padding-left: 8% !important;
        padding-right: 8% !important;
    }
    .padding-top30{
        padding-top: 13% !important;
    }
    .btnz>span{
        display:inline-block;
        width:10px;
        height:10px;
        background:#C0CCD7;
        border-radius:7px;
        border:1px solid #C0CCD7;
        border-top:1px solid #9DA7AF;
        margin:0 3px;
      }
      .btnz>span.active{
        background: #63C000;
        border: 1px solid #5FAF0E;
        border-bottom: 1px solid #39660F;
      }
      .circle {
        background-color:#0093C8;
        border:2px solid white;    
        height:30px;
        border-radius:50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        width:30px;
    }
    .circle-light {
        background-color:#99D3E9;
        border:2px solid white;    
        height:30px;
        border-radius:50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        width:30px;
    }
    .container {
        position: relative;
        text-align: center;
        color: white;
    }
    
    /* Bottom left text */
    .bottom-left {
        position: absolute;
        bottom: 8px;
        left: 16px;
    }
    
    /* Top left text */
    .top-left {
        position: absolute;
        top: 8px;
        left: 16px;
    }
    
    /* Top right text */
    .top-right {
        position: absolute;
        top: 8px;
        right: 16px;
    }
    
    /* Bottom right text */
    .bottom-right {
        position: absolute;
        bottom: 8px;
        right: 16px;
    }
    
    /* Centered text */
    .centered {
        position: absolute;
        top: 34%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #bottom{

        width: 100%;
        height: 50px;
        background-color: black;
    }
    
    #top{
            width:100%;
        height: 50px;
        background-color:red;
        z-index: 999;     
    }   

    .margin-left-right10{
        margin-right: 10% !important;
        margin-left: 10% !important;
    }

    .title{
        margin-top: 7px;
        margin-bottom: 6px;
        font-size: 0.75em;
    }

    /* Camear icon size uplaod.html */
    .width50{
            width: 40% !important;
    }
  /* Camear font size uplaod.html */
  .font085{
    font-size: 0.85em !important;
  }
  ion-avatar,
  ion-avatar > img{
      border-radius:50%;
      height:8rem;
      width:8rem;
  }
  
.alert-md .alert-wrapper{
    max-width: 100%;
  }
  
  .alert-title div:nth-child(1) {
    font-size: 1em;
    color: black;
    text-align: center
  }
  
  .alert-title div:nth-child(2) {
    font-size: 1em;
    color: black;
    text-align: center
  }
  .alert-title div:nth-child(3) {
    font-size: 1.5em;
    color: #f5821f;
    text-align: center
  }
  .alert-sub-title{
    text-align: center
  }
  .alert-md .alert-button{
  color: black;
  }
  .alert-md .alert-button-group{
    background-color:#f5821f;
  }

  alert-md .alert-button {
    color: white;
    font-size: 20px;
}
.alert-md .alert-button {
    float: none;
    margin: 0 auto;
    color: #fff;
    font-size: 1.5em;
    text-transform: none;
       }
       