page-verifyerror {
    .logo1 {
        margin: 20px auto 0;
        width: 4em;
        padding-top: 3.3em;
        padding-bottom: 0.1em;
        border-radius: 10%;
        font-size: 1.5em;
    }
}
